<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>ServletCotexProvider</servlet-name>
        <servlet-class>com.sinfloo.sales.controller.ServletCotexProvider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletContextProvider</servlet-name>
        <servlet-class>com.sinfloo.sales.controller.ServletContextProvider</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCotexProvider</servlet-name>
        <url-pattern>/ServletCotexProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletContextProvider</servlet-name>
        <url-pattern>/ServletContextProvider</url-pattern>
    </servlet-mapping>
</web-app>
